<!--Discover.ejs file. This is where users can browse records.-->
<!--Unauthenicated users have limited functionality. They can only see up to 5 records. They can't add any songs to playlist and are suggested to sign or sign up to do this-->
<!--Authenticated users are able to add songs to their playlist collection-->
<!--Song informationis provided and users can filter by genre and search an artists name within search bar-->

<!--header.ejs partial with empty bodyClass parameter-->
<!--Both Header and Navbar template derivatives in the EJS template for this page. These are rendered in conjunction with current ejs template. -->
<%- include('header', {bodyClass: ''}) %> <%- include('navbar') %>

<!-- Main container for the page -->
<div class="container mt-5 song-cards">
  <!-- Title and description row -->
  <div class="row">
    <div class="col-12">
      <h1>Discover</h1>
      <p>Browse your favourite records and add them to your collection</p>
    </div>
  </div>

      <!--Filters partial EJS template-->
    <%- include('filters') %>

    <!--Record card partial EJS template-->
    <%- include('recordcard') %>

    <!-- Warning message of limited searches if not logged in -->
    <div class="row mt-4">
      <div class="col-12">
        <% if (!isAuthenticated) { %>
        <div class="alert alert-warning" role="alert">
          Searches are limited to 5 per page. Please
          <a href="/login">log in</a> or <a href="/register">register</a> to
          view more results.
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<!--Bottombar ejs file-->
<%- include('bottombar') %>

