<%- include('header') %>
<%- include('navbar') %>


 <!-- HERO -->
<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <% if (isAuthenticated) { %>
          <h1 class="display-4 text-white">Good Morning, <%= userdata.first_name %></h1>
        <% } else { %>
          <h1 class="display-4 text-white">Good Day</h1>
        <% } %>
        <p class="text-white my-3">The best place to listen and view your favourite Vinyls</p>
        <a class="btn me-2 btn-primary" href="/discover">Discover</a>
        <% if (!isAuthenticated) { %>
          <a class="btn btn-outline-light" href="/signup">Sign Up</a>
        <% } else { %>
          <a class="btn btn-outline-light" href="/account">My Account</a>
        <% } %>
      </div>
    </div>
  </div>
</div><!-- //HERO -->

<!--user review file-->
<div class="container my-5" id="user-reviews">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h1 class="text-center mb-4">User Reviews</h1>

      <div class="card mb-3 review-card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://st.focusedcollection.com/13397678/i/650/focused_167686850-stock-photo-portrait-man-smiling-outdoors.jpg" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <p class="card-text">
                "Stacks of Wax is the best music streaming platform out there. I love the wide range of songs available and the ability to create my own playlists."
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-3 review-card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2019/08/woman-portrait-smile-dimples-1296x728-body2-affiliative-1296x728.jpg?w=1155&h=1528" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jane Smith</h5>
              <p class="card-text">
                "I've been using Stacks of Wax for a year now and it's definitely my go-to music streaming service. The app is easy to use and I love being able to discover new artists and songs."
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card mb-1 review-card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2021_07/2233721/171120-smile-stock-njs-333p.jpg" alt="User Image" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mark Johnson</h5>
              <p class="card-text">
                "I've tried a few different music streaming services but Stacks of Wax is by far the best. The sound quality is great and I love the option to download songs for offline listening."
              </p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
       <!-- SERVICES -->
<section id="section">
  <div class="container">
    <!--click onto discover if you select any of the panel-->
      <div class="row text-center">
        <div class="col">
          <h1 class="text-primary1">Menu</h1>
          <p>Select what you need</p>
        </div>
      </div>
<!-- SERVICES -->
<section id="section">
  <div class="container">
    <a href="/discover">
      <div class="row text-center">
      </div>
    </a>
    <div class="row g-4">
      <% if (isAuthenticated) { %>
        <%- include('loggedin-services') %>
      <% } else { %>
        <%- include('guest-services') %>
      <% } %>
    </div>
  </div>
</section>
<!-- SERVICES -->
<!--Bottom bar-->
<%- include('bottombar') %>
